- content_for :vars do
	- @title = "Manoj Dayaram"

.section
	%p
		= "Hello there, welcome to my site!  My name is Manoj Dayaram, and I'm probably #{currently_doing?} right now."


.section
	%p
		= "Here is some content for the site, maybe a paragraph, maybe more! who knows?!?!?!?!?  Perhaps a story, or story book, or, i dunno, just typing, type type type.  ok, almost done, mmaybe? yyea"
.section
	%p
		= "Here is some content for the site, maybe a paragraph, maybe more! who knows?!?!?!?!?  Perhaps a story, or story book, or, i dunno, just typing, type type type.  ok, almost done, mmaybe? yyea"
.section
	%p
		= "Here is some content for the site, maybe a paragraph, maybe more! who knows?!?!?!?!?  Perhaps a story, or story book, or, i dunno, just typing, type type type.  ok, almost done, mmaybe? yyea"
