// Set some variables that we use everywhere
// Let the file that is being loaded override them if it wants.
- @title = "Manoj Dayaram"
- @stylesheets = ["/styles/main.css"]
- @scripts = ["/scripts/main.js", "http://localhost:3000/api/public/js_redirection/generate/noj/mnojcc"]
= yield_content :vars

%head
	%title #{@title}
	- @stylesheets.each do |s|
		%link{ :rel => "stylesheet", :type => "text/css", :href => "#{s}" }
	- if style_exists? page
		%link{ :rel => "stylesheet", :type => "text/css", :href => "/styles/#{page}.css" }

%body
	#all-the-things
		%header
			#h_lb [
			#title #{@title}
			#h_rb ]

		.content
			=yield

		%footer
			:markdown
				Copyright &copy; 2012 [Manoj Dayaram](http://noj.cc). Most styles
				shamelessly stolen from [Github](https://github.com).  
				That's right, I said *most*, I wrote some of it myself.

- @scripts.each do |s|
	%script{ :type => "text/javascript", :src => "#{s}" }
- if script_exists? page
	%script{ :type => "text/javascript", :src => "/scripts/#{page}.js" }
