%head
	%title= "Manoj Dayaram"
	%link{ :rel => "stylesheet", :type => "text/css", :href => "/styles/main.css" }
	%link{ :href => 'http://fonts.googleapis.com/css?family=Rambla:400', :rel => 'stylesheet', :type => 'text/css' }
	%script{ :type => 'text/javascript', :src => '/scripts/jquery-1.8.3.min.js' }
	%script{ :type => 'text/javascript', :src => '/scripts/img-scroll.js' }
%body

	%header
		#h_lb [
		#title Manoj Dayaram
		#h_rb ]

	#about
		#profile
			.img-scroll
				- get_profile_imgs.each do |url|
					%img{ :alt => "jub jub joo, wub wub", :src => "#{url}" }
		#contact
			- get_contacts.each do |name, info|
				%a{ :target => "_top", :href => "#{info[0]}", :onclick => "#{info[2]}" }
					%img{ :alt => "#{name}", :src => "#{info[1]}" }
		#friends_title
			= "FRIENDS"
		#friends
			- get_friends.each do |name, info|
				.friend
					.f_name= name
					%a{ :target => "_top", :href => "#{info[0]}" }
						.img-scroll
							%img{ :alt => "#{name}", :src => "#{info[1]}" }

	.content
		=yield
	%footer
