// Set some variables that we use everywhere
// Let the file that is being loaded override them if it wants.
- @title = "Manoj Dayaram"
- @stylesheets = ["/styles/main.css"]
= yield_content :vars

%head
	%title #{@title}
	- @stylesheets.each do |s|
		%link{ :rel => "stylesheet", :type => "text/css", :href => "#{s}" }
	- if style_exists? page
		%link{ :rel => "stylesheet", :type => "text/css", :href => "/styles/#{page}.css" }
	- 
%body
	#all-the-things
		%header
			#h_lb [
			#title #{@title}
			#h_rb ]

		.content
			=yield

		%footer
			%div= "Yo dawg, I heard yo and yo dawg like footers, so we put a footer in your footer so you can foot your footer, dawg."
			%div= "Copyright &copy; 2012 Manoj Dayaram. All rights reserved."
